{% extends 'base.html' %}
{% from "macros/_formRender.html" import render_field %}
{% block title %}
    Account
{% endblock %}
{{ super() }}
{% block content %}
    <div class="container-fluid text-center mt-md-3">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img style="width: 15rem; height: 15rem" class="rounded-circle img-fluid"
                     src="{{ url_for('static', filename='/images/' + current_user.avatar_file) }}"
                     alt="">
            </div>
            <div class="col-md-5">
                <h1>
                    {{ current_user.first_name }}
                    {{ current_user.last_name }}
                </h1>

                <div style="margin-top: 1rem; display: flex; flex-direction: column; gap: .2rem; align-items: center;">
                    <div class="input-group w-75">
                        <button disabled class="w-25 btn btn-outline-secondary" type="button" id="button-phone">
                            Username
                        </button>
                        <input disabled type="text" class="form-control"
                               value="{{ current_user.username }}">
                    </div>
                    <div class="input-group w-75">
                        <button disabled class="w-25 btn btn-outline-secondary" type="button" id="button-email">
                            Email
                        </button>
                        <input disabled type="email" class="form-control" value="{{ current_user.email }}">
                    </div>
                    <div class="input-group w-75">
                        <button disabled class="w-25 btn btn-outline-secondary" type="button" id="button-birthdate">
                            Birth Date
                        </button>
                        <input disabled type="text" class="form-control" value="{{ current_user.birth_date }}">
                    </div>
                    <div class="input-group w-75">
                        <button disabled class="w-25 btn btn-outline-secondary" type="button" id="button-birthdate">
                            Last seen
                        </button>
                        <input disabled type="text" class="form-control"
                               value="{{ current_user.last_seen.strftime('%m/%d/%y %H:%M') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div style="height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 1rem">

        <h1>Update</h1>
        <form action="{{ url_for('user.update_account') }}" method="post"
              class="row d-flex justify-content-center w-50 gap-3" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="row d-flex justify-content-center">
                <div class="col-md-5">
                    {{ render_field(form.first_name, class='form-control', value=form.first_name.data if form.first_name.data else current_user.first_name) }}
                </div>
                <div class="col-md-5">
                    {{ render_field(form.last_name, class='form-control', value=form.last_name.data if form.last_name.data else current_user.last_name) }}
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    {{ render_field(form.email, class='form-control', value=form.email.data if form.email.data else current_user.email) }}
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    {{ render_field(form.username, class='form-control', value=form.username.data if form.username.data else current_user.username) }}
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    {{ render_field(form.birth_date, class='form-control', add_label=True, label_class='form-label', value=form.birth_date.data if form.birth_date.data else current_user.birth_date) }}
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    {{ render_field(form.about_me, class='form-control') }}
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    {{ render_field(form.user_image, class='form-control', add_label=True, label_class='form-label') }}
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <p>
    <div style="height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column">
        <h1 class="mb-md-5">Change password</h1>
        <form action="{{ url_for('user.change_password') }}" method="post"
              style="display: flex; flex-direction: column; align-items: center; gap: 1rem">
            {{ change_password_form.hidden_tag() }}
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    {{ render_field(change_password_form.old_password, class="form-control") }}
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    {{ render_field(change_password_form.new_password, class="form-control") }}
                </div>
            </div>
            {{ change_password_form.submit() }}
        </form>
    </div>
    </p>
{% endblock %}