{% extends 'base.html' %}
{% from "macros/_formRender.html" import render_field %}
{% block title %}
    Users
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('post.tag.create_tag') }}" role="button" tabindex="-1"
           class="w-25 mx-auto mt-2 btn btn-primary">Add
            Tag</a>
    {% endif %}
    <div style="height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 1rem">

        <h1>All Tags</h1>
        <div class="container-sm w-50">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
                </thead>
                <tbody>
                {% for tag in tags %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td><button type="button" class="btn btn-{{ tag.color.value.lower() }}"> {{ tag.name }} </button></td>
                        <td>
                            <a href="{{ url_for('post.tag.update_tag', id=tag.id) }}">
                                <button class="btn btn-blue">
                                    Update
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('post.tag.delete_tag', id=tag.id) }}">
                                <button class="btn btn-blue">
                                    Delete
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}