{% extends 'base.html' %}
{% block title %}
    Information
{% endblock %}

{% block content %}

    <div class="container-fluid text-center mt-md-3">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img style="width: 20rem; height: 20rem" class="rounded-circle img-fluid"
                     src="https://cdn4.iconfinder.com/data/icons/e-commerce-181/512/477_profile__avatar__man_-512.png"
                     alt="">
            </div>
            <div class="col-md-5">
                <h1>
                    {{ session['user']['name'] }}
                    {{ session['user']['surname'] }}
                </h1>

                <div style="margin-top: 1rem; display: flex; flex-direction: column; gap: .2rem; align-items: center;">
                    <div class="input-group w-75">
                        <button disabled class="w-25 btn btn-outline-secondary" type="button" id="button-email">
                            Email
                        </button>
                        <input disabled type="email" class="form-control" value="{{ session['user']['email'] }}">
                    </div>
                    <div class="input-group w-75">
                        <button disabled class="w-25 btn btn-outline-secondary" type="button" id="button-birthdate">
                            Birth Date
                        </button>
                        <input disabled type="text" class="form-control" value="{{ session['user']['birth_date'] }}">
                    </div>
                    <div class="input-group w-75">
                        <button disabled class="w-25 btn btn-outline-secondary" type="button" id="button-phone">
                            Phone number
                        </button>
                        <input disabled type="number" class="form-control" value="{{ session['user']['phone_number'] }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}