{% extends 'base.html' %}

{% block title %}
Contacts
{% endblock %}

{% block content %}

<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">GitHub</div>
        <a href="github.com/ArsenOOO7">Link</a>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Linkedin</div>
      <a href="https://www.linkedin.com/in/arsen-sydoryk-755785256/">Link</a>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Telegram</div>
      No :)
    </div>
  </li>
</ol>

{% endblock %}