{% extends 'base.html' %}

{% block title %}
Home page
{% endblock %}

{% block content %}
<div class="container-flud text-center mt-md-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus tellus vel quam gravida, vel malesuada risus
    cursus. Morbi non pretium dui. Cras ac arcu lobortis tellus tincidunt lobortis vel in libero. Maecenas ultrices
    lectus ut erat rhoncus tempor. Nulla facilisi. Ut a efficitur massa. Aliquam feugiat rhoncus nunc, sit amet rutrum
    lorem sagittis quis. Nulla facilisi. Sed quis sagittis nunc, non aliquet ligula.</p>

    <p>Sed aliquam mauris libero, eu luctus sem efficitur sed. Nullam ut commodo diam. Maecenas rhoncus purus eget posuere
    congue. Cras ante felis, tempor eu eleifend eu, vulputate et mauris. Praesent egestas id mauris id sollicitudin.
    Proin aliquet ut nunc vel tempus. In a nunc molestie, blandit metus nec, consequat nulla. Nullam et pulvinar lorem.
    Ut sollicitudin velit in ipsum dignissim, id consequat urna eleifend. Interdum et malesuada fames ac ante ipsum
    primis in faucibus. Quisque pellentesque, neque sed fringilla porttitor, ligula libero varius enim, a efficitur diam
    ante quis nibh. Nam vitae rhoncus dui, ut placerat velit. Vivamus eleifend augue vel quam ullamcorper, ut
    consectetur justo ultrices.</p>

    <p>Fusce tristique erat nisl, vel ultrices justo vehicula laoreet. Etiam id ipsum nibh. Sed ac lacinia ligula, eget
    pellentesque magna. In non dui vitae mauris ullamcorper malesuada vitae eu mi. Duis eget augue sed mi efficitur
    consequat in at ligula. Donec nunc velit, tempus non fringilla ac, hendrerit sit amet ex. Praesent egestas vehicula
    ante quis facilisis. Mauris odio velit, placerat a sem ut, consequat dignissim lacus. Nulla eu elit eget nisi
    aliquet interdum. Etiam vel tristique mauris. Aliquam bibendum interdum lacus id sollicitudin. Sed commodo felis non
    mattis dictum. Donec turpis neque, faucibus nec tempor placerat, luctus non ante. Nullam eu semper turpis. Cras sit
    amet magna in diam blandit sollicitudin. Etiam dapibus sapien vitae aliquam tempor.</p>

    <p>Etiam mollis egestas venenatis. Vivamus ut pharetra metus, at ornare elit. Ut vehicula, risus nec posuere euismod,
    urna mauris tincidunt ex, non dictum quam diam in ex. Pellentesque ullamcorper bibendum purus, at scelerisque tellus
    pellentesque eu. Donec eu hendrerit dui, ut pulvinar tortor. Phasellus consequat eget purus sit amet iaculis.
    Integer in est at enim commodo aliquam. Nulla lobortis turpis eros, at pretium ante iaculis nec. Duis eu suscipit
    est. Sed sit amet fermentum ligula. Pellentesque congue turpis vel neque finibus pellentesque. Fusce eu consequat
    felis. Integer facilisis magna dolor, at finibus orci fringilla sed. Nam luctus consectetur sollicitudin. Lorem
    ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <p>In feugiat maximus nisi, sagittis lacinia elit pretium vitae. Donec ornare libero tristique justo interdum, at
    vulputate mauris euismod. Nulla facilisi. Nam nibh lacus, pharetra at efficitur id, pretium in enim. Vestibulum ante
    ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse vulputate orci venenatis ex
    tincidunt gravida. Ut pulvinar semper quam, nec convallis lectus mollis id. Cras laoreet quam eget malesuada
    euismod. Aenean orci ligula, ullamcorper id auctor at, congue interdum nisi. Sed scelerisque nec odio quis mattis.
    Nulla facilisi. Maecenas nec arcu at ipsum sagittis suscipit. Ut in tempus libero, vel tincidunt ligula.
    Pellentesque et diam at nisi accumsan suscipit sit amet vitae nisi.</p>
</div>
{% endblock %}
