{% extends 'base.html' %}
{% from "macros/_formRender.html" import render_field %}
{% block title %}
    Information
{% endblock %}
{{ super() }}

{% block content %}

    <div style="height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 1rem">
        <h1>Add Task</h1>
        <form action="{{ url_for('update_task', id=task.id) }}" method="post"
              class="row d-flex justify-content-center w-50 gap-3">
            {{ form.hidden_tag() }}
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    {{ render_field(form.name, class='form-control', value=task.name) }}
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    {{ render_field(form.status, class='form-select', value=task.status.value) }}
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}